# Demonstrates structure of .env file required for running the project

SYBILION_API_TOKEN="" # Put your Sybilion API key here
OPENAI_API_TOKEN="" #(optional) Put your OpenAI token here for keyword LLM integration